*
{
	padding:0px;
	margin: 0px;
	border: 0;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size: 12px;
}
body
{
	background:#001932 url('../_images/background1.gif') repeat-y center top;
	text-align:center;
	line-height: 20px;
}
body ul
{
	list-style-type:none;
}
#pageContainer
{
	width:927px;
	margin:0px auto;
	color: #FFF;
	text-align:left;
}
.clearAfter:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
a:hover,
a:link,
a:hover,
a:active
{
    color: #001932;
}


/* CAPITOL HEADER*/
#header
{
	margin:10px 10px;
	background:transparent url('../_images/bearOnCapitol.gif') no-repeat;
}
#header img#logo
{
	margin-top: 40px;
	margin-left: 240px;
}
/* Top navigation */
#topNav
{
	float: left;
	height: 30px; 
	line-height: 26px;
	vertical-align: middle; 
	margin: 40px 0px 0px 270px;
	font-weight:bold;
	width: 627px;
	color:#001932;
	background: transparent url('../_images/topNav.gif') repeat-x 0px 0px;
}
#topNav li
{
	float: left;
	border-right: solid 1px #001932;
	background: transparent url('../_images/topNav.gif') repeat-x 0px 0px;
}
#topNav li a:link,
#topNav li a:visited,
#topNav li a:hover,
#topNav li a:active
{
	text-decoration:none;
	color:#001932;
	padding: 2px 10px;
	display:block;
}
#topNav li a:hover,
#topNav li.current a:link,
#topNav li.current a:visited,
#topNav li.current a:hover,
#topNav li.current a:active
{
	background: transparent url('../_images/hoverNav.gif') repeat-x 0px 0px;
	color:#FFF;
}
#topNav li.last
{
	border-right:0px;
}	
#body #leftCol
{
	float:left;
	width:580px;
	margin-right:15px;
}
#body #rightCol
{
	float: left;
	width: 290px;
}
/*********Right column modules ***************/
/* Schedule */
#body #schedule 
{
	border: solid 1px #FFF;
	width: 100%;
	margin:0px 0px 10px 0px;
}
#body #schedule li ul li
{
	float:left;
	padding: 2px;
	line-height: 14px;
	font-size: 10px;
}
#body #schedule .date
{	width: 75px;	}
#body #schedule .team
{	width: 120px;	}
#body #schedule .time
{	width: 60px;	}
#body #schedule .channel
{	width: 60px; display:none	}
#body #schedule .final
{	width: 60px; }
#body #schedule li ul.header
{
	color:#FFF;
	font-weight:bold;
	background: transparent url('../_images/hoverNav.gif') repeat-x;
	height:20px;
}
#body #schedule .stripe1
{
	color:#001932;
	font-weight:bold;
	background-color:#E66000;
}
#body #schedule .stripe0
{
	color:#FFF;
	background-color:#001932;	
}
#body #schedule .record li
{
    text-align:center;
    width:100%;
    font-weight:bold;
    font-size:12px;
}

/*General elements*/
#body
{
	margin: 10px;
	padding:10px;
}
p
{
	margin: 0px 0px 10px 0px;
}
#body h2, 
#body h1
{
	color:#E66000;
	font-size: 16px;				
	line-height: 18px;
	margin-bottom:10px;
}
#body .roundCornerBottom
{
    padding:0 20px 20px 20px;
    margin-bottom:10px;
}
#body .roundCornerTop
{
    padding-top:20px;
}
#body .roundCornerTop.noPadding
{
    padding-top:0px;
}
.roundCornerTop, .roundCornerBottom
{
    color:#001932;
    background-color:#FFF;
}
#body .roundCornerTop
{
	background: #FFF url('../_images/topFullCol.gif') no-repeat top left;
	width:887px;
}
#body .roundCornerTop.left
{
	background: #FFF url('../_images/topLeftCol.gif') no-repeat top left;
	width:580px;
}
#body .roundCornerTop.right
{
	background: #FFF url('../_images/topRightCol.gif') no-repeat top left;
	width:290px;
}
#body .roundCornerTop .roundCornerBottom.left
{
	background: #FFF url('../_images/bottomLeftCol.gif') no-repeat bottom left;
}
#body .roundCornerTop .roundCornerBottom
{
	background: #FFF url('../_images/bottomFullCol.gif') no-repeat bottom left;
}
#body .roundCornerTop .roundCornerBottom.right
{
	background: #FFF url('../_images/bottomRightCol.gif') no-repeat bottom left;
}
#footer
{
	text-align:center;
	width: 100%;
	font-size:smaller;
}
#footer .logoDiv .logo
{
    float:none;
    padding:10px;
    width:auto;    
}
/****** Photo page *********/
#mainImage
{
    text-align:center;    
}
#largeImageCanvas
{
    width:100%;    
    height:505px;
    margin: auto auto;
}
#mainImage #mainImageTitle
{
    color:#E66000;
    font-weight:bold;    
}
#photoNavigation
{
    width:667px; /* width of an image with a 500px height (max height for images) */
    display:block;
    margin:auto;
    margin-top: 5px;
}
#photoNavigation *
{
    color:#E66000;
    text-decoration:none;
}
#photoNavigation .disabled
{
    color:#5D422C;
}
#mainImage #photoNavigation #next
{ 
    float:right;
}
#mainImage #photoNavigation #back
{
    float:left;
}
#thumbs ul li
{
    float:left;   
    padding:11px 5px 8px 5px;
    display:inline-block;
    cursor: pointer;
    font-weight:bold;
    height: 80px;
}
#thumbs img.selected
{
    border: 2px solid #E66000;
}
#thumbs ul li.video img
{
    background: transparent url('../_images/thumbVid.gif') no-repeat 0 0;    
    padding:11px 5px 11px 5px;
}
#thumbs ul li.video.selected img
{
    border: 0px;
    background: transparent url('../_images/thumbVidSelect.gif') no-repeat 0 0;    
}
/* News */
#body #article .back
{

}
#body #article .articleTitle
{
	color: #000;
}
#body #article .date
{
	font-style: italic;
}
#article ul
{
	padding:10px;
	list-style-type: square;
	list-style-position: outside;
}
#article ul li
{
	
}

/* Links page */
#linkList li
{
	margin-bottom:10px;
	line-height:20px;
}
#linkList li .date
{
	width:60px;
	float:left;
}
#linkList li .linkTitle
{
	margin-left: 5px;
	float:left;
	width:780px;
}
.left #linkList li .linkTitle
{
	margin-left: 5px;
	float:left;
	width:475px;
}
#linkList li a.external
{
    background:transparent url('../_images/external.gif') no-repeat 0 2px;    
    padding-left:12px;
}
p a.external
{
    background:transparent url('../_images/externalInline.gif') no-repeat 0 2px;    
    padding-left:12px;
}
.logo
{
    width: 55px;
    height:30px;
    display: inline-block;
    text-align:right;
    margin: 3px 10px 3px 0px;
}
.logoLink
{
    height:30px;
    line-height:30px;
}
#rightCol .logo
{
    text-align:left;
    width:auto;    
}
#rightCol .logoLink
{
    vertical-align:top;  
}
.homeImage
{
   opacity:1;filter:alpha(opacity=100)
}
/*Contact page */
input, textarea
{
    border:1px solid #001932;
    padding:3px;
    margin-bottom:10px;
}
label
{
    width: 100px;
    display:inline-block;
    vertical-align:top;
}
label.required
{
    font-weight:bold
}
div.error
{
    font-weight:bold;
    color: #E66000;
}